process {
    withName: grn {
        // Set the number of workers for GRN
        executor = 'slurm'  // or 'slurm' depending on your system
        memory '128 GB'
        cpus 20
        time '1h'
        // Define num_workers if you want this to be dynamic or constant for this process
        shell:
        """
        pyscenic grn \$loom_file \$tfs_file -o \$output_dir/adj.csv --num_workers 20
        """
    }

    withName: ctx {
        // Set the number of workers for CTX
        executor = 'slurm'  // or 'slurm' depending on your system
        memory '128 GB'
        cpus 20
        time '1h'
        // For ctx, specify num_workers here
        shell:
        """
        pyscenic ctx \$adj_file \$db_file \$motif_file \$loom_file -o \$output_dir/reg.csv --num_workers 20
        """
    }

    withName: aucell {
        // Set the number of workers for AUCELL
        executor = 'slurm'  // or 'slurm' depending on your system
        memory '32 GB'
        cpus 8
        time '1h'
        // For aucell, specify num_workers here
        shell:
        """
        pyscenic aucell \$loom_file \$ctx_file -o \$output_dir/pyscenic_output.loom --num_workers 8
        """
    }
}